<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Tabs</h2>
	<h3>Tab-bar</h3>
	<ul class="nav nav-pills nav-fill qela-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-home icon"></span>
				<span class="ic-home-filled-28 icon-filled"></span>
				Home
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-profile icon"></span>
				<span class="ic-user-filled-28 icon-filled"></span>
				Profile
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-diamond-28 icon"></span>
				<span class="ic-diamond-filled-28 icon-filled"></span>
				Quests
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-voting icon"></span>
				<span class="ic-voting-filled-28 icon-filled"></span>
				Voting
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">
				<span class="ic-bell icon">
					<span class="badge bg-danger">25</span>
				</span>
				<span class="ic-bell-filled-28 icon-filled">
					<span class="badge bg-danger">25</span>
				</span>
				New
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-qela icon"></span>
				<span class="ic-qela-filled-28 icon-filled"></span>
				Organization
			</a>
		</li>
	</ul>
	<ul class="nav nav-pills nav-fill bg-transparent shadow-none qela-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-home icon"></span>
				<span class="ic-home-filled-28 icon-filled"></span>
				Home
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-profile icon"></span>
				<span class="ic-user-filled-28 icon-filled"></span>
				Profile
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-diamond-28 icon"></span>
				<span class="ic-diamond-filled-28 icon-filled"></span>
				Quests
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">
				<span class="ic-voting icon"></span>
				<span class="ic-voting-filled-28 icon-filled"></span>
				Voting
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-bell icon">
					<span class="badge bg-danger">25</span>
				</span>
				<span class="ic-bell-filled-28 icon-filled">
					<span class="badge bg-danger">25</span>
				</span>
				New
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span class="ic-qela icon"></span>
				<span class="ic-qela-filled-28 icon-filled"></span>
				Organization
			</a>
		</li>
	</ul>
	<h3>Tabs</h3>
	<ul class="nav nav-pills nav-fill qela-tab">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">General</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Local</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">History</a>
		</li>
	</ul>
	<ul class="nav nav-pills nav-fill shadow-none qela-tab ">
		<li class="nav-item">
			<a class="nav-link bg-transparent active" aria-current="page" href="#">General</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-transparent" href="#">Local</a>
		</li>
		<li class="nav-item">
			<a class="nav-link bg-transparent" href="#">History</a>
		</li>
	</ul>
</section>